.whole-wrapper {
  h1 {font-weight: bold;}
}

.card-wrapper-wrapper {
  margin: 0px 25vw 0 25vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-wrapper {
  box-shadow: 8px 8px 8px #999999;
}

.content-wrapper {
  font-size: 1rem;
}