.whole-wrapper {
  h1 {font-weight: bold;}
}


.whole-wrapper[device='desktop'] {
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url('../../assets/images/background/seamless.jpg');
}

.card-wrapper-wrapper[device='mobile'],
.card-wrapper-wrapper[device='tablet'] {
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
}

.card-wrapper-wrapper {
  margin: 0px 25vw 0 25vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-wrapper {
  h1 {
    white-space: pre-wrap;
  }
}

.card-wrapper[device='mobile'],
.card-wrapper[device='tablet'] {
  box-shadow: none;
}

.card-wrapper[device='desktop'] {
  box-shadow: 8px 8px 8px #999999;
}

.content-wrapper {
  font-size: 1rem;
}