.chatbox{
    margin: 0 auto;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.75);
    // padding-top: 20px;
}

.chatbox[device='desktop']{
    width: 780px;
}

.chatbox[device='tablet'], .chatbox[device='mobile']{
    width: 100vw;
}
