.whole-wrapper{
    margin: auto 0;
}

.whole-wrapper[device='desktop']{
    width: 390px;
}

.whole-wrapper[device='tablet']{
    width: 350px;
}
.whole-wrapper[device='mobile']{
    width: 230px;
}

.align{
    display: flex;
}

.align[user='me']{
    justify-content: flex-end;
}

.textbox{
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 10px 13px;
    margin: 10px 5px;
    display: inline-block;
    word-wrap: break-word;
}

.textbox[user='me'] {
    color: white;
    background-color: #00a8ff;
}