.wrapper[position='left'] {
  padding-left: 1vw;
}

.wrapper[position='right'] {
  padding-right: 2vw;
  text-align: right;
}

.header {
  font-family: 'Blanch Caps', 'Noto Sans', sans-serif;
  font-size: 120px;
  color: #f58fa3;
  -webkit-text-stroke: 2px white;
  margin-top: -70px;
}

.subtitle {
  color: #1f1f1f;
  text-shadow: #ffffff 2px -2px 0px;
  font-size: 30px;
  text-indent: 9px;
  margin-top: -45px;
  margin-bottom: 7px;
}

.description-wrapper {
  display: flex;
}

.description-wrapper[position='right'] {
  justify-content: flex-end;
}

.description {
  //   width: 600px;
  color: #1f1f1f;
  text-shadow: #ffffff 2px -2px 0px;
  font-size: 20px;
}
