
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}

.container[device='desktop']{
    margin-left: 15vw;
    margin-right: 15vw;
}

.container[device='tablet'] {
    margin-left: 5vw;
    margin-right: 5vw;
}

.container[device='mobile'] {
    margin-left: 20px;
    margin-right: 20px;
}