
.card {
    margin: 20px 0;
    border-radius: 10px;
}

.container{
    padding: 20px 0;
    // background-color: red;
}

.container[device='desktop']{
    margin-left: 30vw;
    margin-right: 30vw;
}

.container[device='mobile'],.container[device='tablet']{
    margin-left: 20px;
    margin-right: 20px;
}
