@import '../../shared/css/palette.scss';

.featured-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 250px;
}

.slide-holder-desktop,
.slide-holder-mobile {
  background-color: $theme-pink;
  margin-bottom: 40px;
}

.slide-holder-desktop {
  padding-left: 40px;
  padding-right: 40px;
}
