@import '../../shared/css/palette.scss';

@media only screen and (min-width: 960px) {
  .ant-tabs-tabpane-active {
    animation: fadein 0.5s;
  }
}

@keyframes fadein {
  from {opacity: 0; transform: translate(15px)}
  to {opacity: 1; transform: translate(0px)}  
}

.ant-tabs-ink-bar {
  background-color: $theme-pink !important;
}

.ant-tabs-tab-active {
  color: $theme-pink !important;
}

.ant-tabs-tab:hover {
  color: $theme-brighter-pink !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: $theme-pink;
  box-shadow: 0 0 0 2px $theme-brighter-pink;
}

.ant-select-selection:hover {
  border-color: $theme-pink;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: $theme-brighter-pink;
}

.ant-select-dropdown-menu-item-selected {
  background-color: $theme-brightest-pink;
}
