@import '../../shared/css/palette.scss';

.timeline {
  &[device='tablet'],
  &[device='mobile'] {
    padding: 0 27px;
  }
}

.header {
  font-family: 'Blanch Caps', 'Noto Sans', sans-serif;
  font-size: 50px;
  color: black;
  &[device='desktop'] {
    text-align: center;
    padding-bottom: 20px;
  }
  &[device='tablet'],
  &[device='mobile'] {
    padding-left: 27px;
    padding-bottom: 15px;
  }
}

.timeline-date {
  font-family: 'Blanch Caps', 'Noto Sans', sans-serif;
  font-size: 40px;
  color: $theme-pink;
  &[device='mobile'] {
    font-size: 38px;
  }
}

.timeline-content {
  
  font-size: 18px;
  text-indent: 0.5rem;
  &[device='tablet'],
  &[device='desktop'] {
    display: flex;
    flex-direction: column;
  }
  &[device='mobile'] {
    font-size: 16px;
    text-indent: 0;
  }
}
