.footer {
    text-align: center;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    height: 60px;
    font-size: 12px;
}

.footer[device='mobile']{
    font-size: 3.3vw;
}

.link-footer{
    transition: 0.5s;
    &:hover{
        color: #cccccc;
    }
}