.info-container[device='desktop'] {
  margin: 0 15vw 0 15vw;
  font-size: 1.1rem;
}

.info-container[device='mobile'],
.info-container[device='tablet'] {
  margin: 0 0 0 0;
}

.logo-wrapper {
  width: 20%;
  height: auto;
  margin: 25px auto 25px auto;
  border-radius: 1vw;
  background-color: #ffffff;
  overflow: hidden;
}

.logo-wrapper[device='mobile'] {
  width: 50%;
  border-radius: 3vw;
}

.content {
  margin: 25px 10vw 25px 10vw;
}

.external-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.e {
  height: 500px;
}
.external-links-divider[device='mobile'],
.external-links-divider[device='tablet'] {
  height: 30px;
}

.link-icon {
  margin: 0 5px 0 5px;
}

.link-icon[type='social_media'][device='mobile'] {
  width: 30px;
}
.link-icon[type='social_media'][device='tablet'],
.link-icon[type='social_media'][device='desktop'] {
  width: 50px;
}

.link-icon[type='fb_share'][device='mobile'] {
  width: 100px;
}
.link-icon[type='fb_share'][device='tablet'],
.link-icon[type='fb_share'][device='desktop'] {
  width: 170px;
}