.info-container[device='desktop'] {
  margin: 0 15vw 0 15vw;
  font-size: 1.1rem;
}
.info-container[device='mobile'],
.info-container[device='tablet'] {
  margin: 0 0 0 0;
}

.text-wrapper {
  margin: 25px 10vw 25px 10vw;
  h1,h3 {text-align: center; word-wrap: break-word}
  h1,h3[type='header'] {font-weight: bold;}
}
.text-wrapper[animType='entrance'] {
  animation: text-wrapper-entrance 0.3s both;
}
.text-wrapper[animType='exit'] {
  animation: text-wrapper-exit 0.3s both;
}
@keyframes text-wrapper-entrance {
  from {opacity: 0; transform: translate(0,-10px)}
  to {opacity: 1; transform: translate(0, 0)}
}
@keyframes text-wrapper-exit {
  from {opacity: 1; transform: translate(0, 0)}
  to {opacity: 0; transform: translate(0, -10px)}
}

.logo-wrapper {
  width: 20%;
  height: auto;
  margin: 25px auto 25px auto;
  border-radius: 1vw;
  background-color: #ffffff;
  overflow: hidden;
}
.logo-wrapper[device='mobile'] {
  width: 50%;
  border-radius: 3vw;
}

.external-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.link-icon {
  margin: 0 5px 0 5px;
  width: 28px;
  height: 28px;
}

.language-switcher-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}