@import '../../shared/css/palette.scss';

.header {
  font-size: 36px;
  font-family: 'Blanch Caps','Noto Sans',sans-serif;
  color: white;
  letter-spacing: 1px;
}

.divider {
  height: 5px;
}

.divider[theme='pink'] {
  background-color: $theme-pink;
}

.divider[theme='blue'] {
  background-color: $theme-blue;
}

.divider[theme='yellow'] {
  background-color: $theme-yellow;
}

.link {
  padding: 10px 10%;
  font-family: 'Blanch Caps','Noto Sans',sans-serif;
  font-size: 25px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  &:active {
    background-color: #ddd;
  }
}
