@import '../../shared/css/palette.scss';

$toolbar-height: 80px;

.appbar {
  position: fixed;
  top: 0;
  z-index: 1200;
}

.header {
  flex-grow: 1;
  color: white;
  transition: font-size 0.3s;
  font-family: 'Blanch Caps', sans-serif;
}

.header[device='desktop'] {
  font-size: 2.3rem;
}

.header[device='tablet'] {
  font-size: 2rem;
}

.header[device='mobile'] {
  font-size: 7vw;
}

.toolbar {
  &.phukun {
    height: 40px !important;
    & > .header {
      font-size: 1.5rem;
    }
  }
  height: $toolbar-height;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  transition: height 0.3s, background-color 0.3s;
}

.toolbar[theme='pink'] {
  background-color: $theme-pink;
}

.toolbar[theme='yellow'] {
  background-color: $theme-yellow;
}

.toolbar[theme='blue'] {
  background-color: $theme-blue;
}

.logo-wrapper {
  width: 60px;
  border-radius: 50%;
  padding: 0.2em;
  transition: background 0.3s, width 0.3s;
  &.phukun {
    width: 30px !important;
  }
  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}

.navigation {
  padding: 10px;
}

.navigation[device='mobile'],
.navigation[device='tablet'] {
  padding: 10px 20px 10px 10px;
}

.whole-content {
  padding-top: $toolbar-height;
}

.wrapper {
  min-height: calc(100vh - 60px);
}
