.wrapper {
  height: 100%;
  padding: 0 10vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  color: white;
  text-shadow: black 5px 5px 8px;
}

.wrapper[section='intro'] {
  justify-content: center;
}

.wrapper[position='right'] {
  justify-content: flex-end;
  text-align: right;
}

.intro-wrapper {
  display: flex;
  //   background-color: yellow;
}

.intro-image {
  animation: bounce-in-top 1.2s both;
  animation-delay: 1s;
  width: 280px;
  height: 280px;
}

.intro-content-wrapper {
  width: 470px;
  margin-left: 20px;
  // background-color: red;
}

.intro-header {
  font-family: 'Blanch Caps', sans-serif;
  font-size: 65px;
  margin-bottom: 0;
  color: #ffb2c2;
  //   color: $theme-pink;
  //   text-shadow: 3px 3px 6px #bd6e7e;
}

.intro-description {
  text-indent: 3rem;
  font-size: 23px;
}

.intro-date {
  text-align: center;
  font-size: 23px;
}

.intro-hashtag {
  font-family: 'Blanch Caps', sans-serif;
  text-align: right;
  font-size: 50px;
  margin-bottom: 0;
  color: #ffb2c2;
}

.content-wrapper {
  width: 600px;
}

.header {
  color: #ffb2c2;
  font-family: 'Blanch Caps', sans-serif;
  font-size: 100px;
  margin-top: -50px;
}

.subtitle {
  color: #ccc;
  font-size: 30px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.description-wrapper {
  display: flex;
}

.description-wrapper[position='right'] {
  justify-content: flex-end;
}

.description {
  width: 470px;
  font-size: 20px;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-250px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.layer{
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  // align-items: center;
}

.button-slick{
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: center;
}

.bounce{
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}