.card{
    // width: 80vw;
}

.header{
    color: black;
    font-family: 'Blanch Caps';
    font-size: 40px;
}

.subtitle{
    margin-top: -10px;
}

.image{
    width : 100%;
    border-radius: 20px;
    margin: 20px 0;
}

.description{

}