@import '../../shared/css/palette.scss';

.intro-wrapper {
  background: rgb(245, 143, 163);
  background: linear-gradient(
    110deg,
    rgba(245, 143, 163, 0.8) 1%,
    rgba(243, 207, 85, 0.8) 45%,
    rgba(111, 216, 221, 0.8) 100%
  );
  padding: 30px 40px;
  color: white;
  height: calc(100vh - 80px);
}

.intro-wrapper[device='tablet'] {
  display: flex;
  box-shadow: 0px 9px 30px -4px rgba(0, 0, 0, 0.75);
}

.intro-wrapper[device='mobile'] {
  box-shadow: 0px 9px 30px -4px rgba(0, 0, 0, 0.75);
}

.intro-image {
  animation: bounce-in-top 1.2s both;
  animation-delay: 0.5s;
  width: 160px;
  height: 160px;
}

.intro-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content-wrapper {
  text-shadow: 2px 2px 8px black;
}

.intro-content-wrapper[device='tablet'] {
  // background-color: yellow;
  margin-left: 20px;
}

.intro-header {
  font-family: 'Blanch Caps', sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  color: #ffb2c2;
  //   color: $theme-pink;
  //   text-shadow: 3px 3px 6px #bd6e7e;
}

.intro-description {
  text-indent: 3rem;
  font-size: 18px;
}

.intro-date {
  text-align: center;
  font-size: 18px;
}

.intro-hashtag {
  font-family: 'Blanch Caps', sans-serif;
  text-align: right;
  font-size: 30px;
  margin-bottom: 0;
  color: #ffb2c2;
}

.card {
  // padding: 10px;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // background-color: #eee;
  // border-radius: 20px;
}

.header {
  color: black;
  font-family: 'Blanch Caps';
  font-size: 40px;
}

.subtitle {
  margin-top: -10px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}
.image {
  width: 90%;
  border-radius: 20px;
  margin: 20px 0;
}

.description {
  text-indent: 2rem;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-250px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
